/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body{
    background-image: url("public/princess-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  