/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }
  
  
  

  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  body{
    background-image: url("https://disney-princess-facts-api.onrender.com/elsa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    padding-top: 13rem;
    }
    ul{
      list-style: none;
    }
    